$fontWeight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$width: (
    "small": 9%,
    "medium": 19%,
    "large": 29%,
    "extralarge":39%
);

$fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;